/*   B I E N V E N I D A   */

.bienvenida {
    padding: 100px 0 50px 0;
    .hero__image {
        background-image: url(../images/anfield.jpg);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: saturate(.7);
        height: 100vh;
        margin-top: 0px;
        .bienvenida__h1 {
            h1 {
                color: green;
                font-size: 5rem;
                font-weight: 800;
                letter-spacing: 2px;
                padding-top: 20px;
                text-shadow: 4px 4px 5px $bg-color;
            }
            p {
                color: white;
                font-family: $title-font;
                font-size: 2.2rem;
                font-weight: 700;
                text-align: center;
                text-shadow: 3px 3px 1px green;
            }
        }
        .hero__text {
            color: $main-color;
            font-family: 'Acme', sans-serif;
            font-size: 1.5rem;
            padding-top: 70px;
            text-align: center;
            text-shadow: 2px 2px 2px black;
        }
    }
}

@media (min-width: 992px) {
    .bienvenida {
        .hero__image {
            background-attachment: fixed;
            height: 100vh;
            .bienvenida__h1 {
                h1 {
                    padding-top: 50px;
                }
                p {
                    font-size: 2.5rem;
                }
            }
        }
    }
}