    /*   F O O T E R   */
    
    footer {
        background-color: $hdft-color;
        margin-top: 40px;
        .footer__container {
            align-items: center;
            display: flex;
            flex-direction: column;
            .footer__logo {
                margin: 10px 0;
                display: flex;
                justify-content: center;
                img {
                    margin: 0 auto;
                    width: 40%;
                }
            }
            .footer__menu {
                display: none;
            }
            .footer__redes {
                ul {
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 0;
                    li {
                        padding-right: 15px;
                        a {
                            i {
                                color: green;
                                font-size: 2rem;
                                transition: .5s;
                                &:hover {
                                    color: $main-color;
                                    font-size: 2.5rem;
                                }
                            }
                        }
                        &:last-of-type {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
        p {
            margin-bottom: 0;
            padding: 15px 0;
            text-align: center;
        }
        a.footer__top {
            i {
                background-color: green;
                border-radius: 10px;
                bottom: 20px;
                color: white;
                font-size: 2rem;
                padding: 7px;
                position: fixed;
                right: 50px;
            }
        }
    }
    
    @media(min-width: 992px) {
        footer {
            .footer__container {
                align-items: center;
                flex-direction: row;
                justify-content: space-around;
                .footer__logo {
                    flex-basis: 15%;
                    img {
                        padding-top: 15px;
                        width: 100%;
                        max-height: 50px;
                    }
                }
                .footer__menu {
                    display: contents;
                    ul {
                        align-items: center;
                        display: flex;
                        flex-basis: 60%;
                        flex-direction: row;
                        justify-content: space-evenly;
                        margin-bottom: 0;
                        li {
                            a {
                                font-size: .9rem;
                                transition: ease-in-out .5s;
                                &:hover {
                                    color: green;
                                    font-size: 1.1rem;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
                .footer__redes {
                    flex-basis: 15%;
                    ul li {
                        padding-right: 25px;
                    }
                }
            }
        }
    }
    
    @media(min-width: 1200px) {
        footer {
            .footer__container {
                .footer__menu {
                    flex-basis: 50%;
                }
            }
        }
    }