/*   G A L E R Í A   */

.galeria {
    padding-top: 80px;
    .row {
        margin-top: 40px;
        .galeria__estadesc {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            .galeria__estadio {
                margin-bottom: 120px;
                position: relative;
                img {
                    border: 3px solid green;
                    left: 50%;
                    margin-left: -100px;
                    position: absolute;
                    transition: opacity 1s ease-in-out;
                    width: 180px;
                    &.top:hover {
                        opacity: 0;
                    }
                }
            }
            .galeria__descripcion {
                p {
                    margin-bottom: 0;
                    text-align: center;
                    &:first-of-type {
                        font-weight: 800;
                    }
                }
            }
        }
    }
}