/*   G A L E R Í A   */

.galeria {
    padding-top: 80px;
    div.row {
        margin-top: 40px;
        div {
            margin-bottom: 40px;
            div.galeria__estadio {
                height: auto;
                margin-bottom: 150px;
                position: relative;
                img {
                    border: 3px solid green;
                    position: absolute;
                    transition: opacity 1s ease-in-out;
                    width: 100%;
                    &.top:hover {
                        opacity: 0;
                    }
                }
            }
            p {
                margin-bottom: 0;
                text-align: center;
                &:first-of-type {
                    font-weight: 800;
                }
            }
        }
    }
}