/*   G E N E R A L E S   */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bg-color;
    color: #ffffff;
    font-family: $main-font;
}

h2,
h3,
h4 {
    color: $main-color;
    font-family: $title-font;
    padding: 20px 0;
    text-align: center;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    color: #ffffff;
    font-size: 1.4rem;
}

h4 {
    font-size: 1rem;
    padding-top: 0;
}

ul li {
    list-style-type: none;
    a {
        color: $main-color;
        text-decoration: none;
        text-transform: uppercase;
    }
}