#gracias {
    padding-top: 120px;
    height: calc(100vh - 200px);
    .gracias__fontawesome {
        p i {
            color: green;
            font-size: 6rem;
            text-align: center;
        }
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.2rem;
        text-align: center;
        &:last-of-type {
            color: $main-color;
            font-size: .8rem;
            font-style: oblique;
            padding-top: 20px;
            i.gracias__confidencialidad {
                font-size: 1.4rem;
                padding: 0 15px;
            }
        }
    }
}

@media(min-width: 992px) {
    #gracias {
        height: calc(100vh - 175px);
        .gracias__fontawesome {
            p i {
                font-size: 8rem;
            }
        }
        p {
            font-size: 1.4rem;
            &:last-of-type {
                font-size: 1rem;
                padding-top: 40px;
            }
        }
    }
}