/*   N O S O T R O S   */

.nosotros {
    margin-top: 70px;
    h2 {
        margin-bottom: 25px;
    }
    ul li {
        list-style-type: none;
        line-height: 1.7;
        margin: 0 0 20px 20px;
        display: flex;
        align-items: center;
        i {
            color: green;
            font-size: 1.5rem;
            margin-right: 15px;
        }
    }
    .nosotros__fotos {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 50px;
        .nosotros__foto {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin-bottom: 50px;
            padding: 20px 7px 7px 7px;
            border: solid 3px green;
            border-radius: 15px;
            background-color: $hdft-color;
            img {
                width: 90%;
                margin: 0 auto;
            }
            p {
                font-size: 1rem;
                line-height: 1.4;
                text-align: center;
                margin-top: 15px;
                font-style: oblique;
            }
        }
    }
}

@media(min-width: 576px) {
    .nosotros .nosotros__fotos .nosotros__foto {
        width: 400px;
    }
}